        <!-- G Chord -->
    <div class="diagram-wrap">
        <div class="diagram">
        <h3 class="chordname">G</h3>
        <div class="row first">
            <div class="cell label"></div>
            <div class="cell label"></div>
            <div class="cell fret"></div>
            <div class="cell fret"></div>
            <div class="cell fret"><div class="blue note">4</div></div>
        </div>
        <div class="row">
            <div class="cell label"><div class="note stringname">B</div></div>
            <div class="cell label"></div>
            <div class="cell fret"></div>
            <div class="cell fret"></div>
            <div class="cell fret"><div class="blue note">3</div></div>
        </div>   
        <div class="row">
            <div class="cell label"><div class="note stringname">G</div></div>
            <div class="cell label"><div class="note openstring">O</div></div>
            <div class="cell fret"></div>
            <div class="cell fret"></div>
            <div class="cell fret"></div>
        </div>
        <div class="row">
            <div class="cell label"><div class="note stringname">D</div></div>
            <div class="cell label"><div class="note openstring">O</div></div>
            <div class="cell fret"></div>
            <div class="cell fret"></div>
            <div class="cell fret"></div>
        </div>
        <div class="row">
            <div class="cell label"><div class="note stringname">A</div></div>
            <div class="cell label"></div>
            <div class="cell fret"></div>
            <div class="cell fret"><div class="blue note">1</div></div>
            <div class="cell fret"></div>
        </div>
        <div class="row last">
            <div class="cell label"><div class="note stringname">E</div></div>
            <div class="cell label"></div>
            <div class="cell fret"></div>
            <div class="cell fret"></div>
            <div class="cell fret"><div class="blue note">2</div></div>
        </div>                            
    </div>
</div>
