* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.page {
  padding: 30px;
}

.chordname {
  font-size: 3rem;
  margin: 10px 0 25px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-left: -19px;
}

.diagram-wrap {
  float: left;
  width: 330px;
}

.diagram .row {
  clear: both;
}
.diagram .row.first .fret {
  border-top: 1px solid #222;
}
.diagram .row.last .fret {
  border: 0;
}
.diagram .cell {
  float: left;
  position: relative;
  width: 76px;
  height: 32px;
}
.diagram .cell.fret {
  border: 1px solid #222;
  border-top: 0;
}
.diagram .cell.fret:not(:last-of-type) {
  border-right: 0;
}
.diagram .cell.label {
  width: 20px;
}
.diagram .cell .note {
  position: absolute;
  z-index: 2;
  width: 26px;
  height: 26px;
  left: 50%;
  margin-left: -13px;
  margin-top: -13px;
  color: #fff;
  background: #222;
  text-align: center;
  border-radius: 50%;
  padding-top: 4px;
}
.diagram .cell .note.stringname, .diagram .cell .note.openstring {
  background: none;
  color: #222;
}
.diagram .cell .note.stringname {
  color: #666;
}
.diagram .cell .note.openstring {
  font-weight: bold;
}