<style>
  #sidebar {
    background-color: lightgrey;
    width: 15%;
    //height: 100%;
    position: fixed;
    top:80px;
    left:20px;
    bottom: 20px;
    border: 10px solid green;
    border-radius: 30px;
  }
</style>

<div id="sidebar">

  <header><h2>click to add/ hide objects</h2></header>



  <article id="objectControllers">

    <section id="treeController">
      <button id="hideTree">hide tree</button>

    </section>

  </article>

</div>

  
<!--#region script-->
<script>
  $('#hideTree').click( function() { 
    alert('clicked');
    $('#tree').toggle();
  });
</script>
<!--#endregion script-->


