<style>
  #sidebar {
    background-color: red;
    width: 100px;
    height: 100%;
    position: fixed;
  }
</style>

<div id="sidebar">

  <header><h2>click to add/ hide objects</h2></header>



  <article id="objectControllers">

    <section id="treeController">
      <button id="hideTree">hide tree</button>

    </section>

  </article>

</div>

  
<!--#region script-->
<script>
  $('#hideTree').click( function() { 
    alert('clicked');
    $('#tree').toggle();
  });
</script>
<!--#endregion script-->


